:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

main {
  display: flex;
  gap: 74px;
  max-width: 1024px;
  margin: auto;
  margin-bottom: 32px;
  padding-left: 20px;
  padding-right: 20px;
}

.checkout-form {
  margin: auto;
  width: 600px;
}

.checkout-form__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.checkout-form__adyen-checkout {
  margin-bottom: 20px;
}


/* --- Header --- */
.header {
  position: relative;
  border-bottom: 0.5px solid #d8dee2;
  padding: 26px 42px;
  margin-bottom: 60px;
  height: 27px;
}

.header__logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
